/* -- */

* {
  /*border: solid blue 1px;*/
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 500px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1f4ae7;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 30px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1f4ae7;
    color: white;
  }
}

/* ------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  background-color: #333;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  height: min-content;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 400px;
  min-width: 300px;
  background-color: white;
  margin: 20px;
}

.product-card img {
  width: 100%;
  max-height: 400px;
  min-height: 400px;
  object-fit: scale-down;
}

.product-card h3,
.product-card h4 {
  margin: 10px 0;
  color: black;
}

.product-card p {
  margin: 0;
  color: black;
}

.content {
  padding: 50px;
  background-color: #535bf2;
}
.card-container {
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  color: white;
  margin: 0;
}

.product-page-container {
  display: flex;
  flex-wrap: wrap;
}

.product-image {
  min-width: 300px;
  max-width: 700px;
  max-height: 600px;
  margin: 50px;
  margin-bottom: 0;
  object-fit: contain;
}

.product-info {
  flex: 1 1 300px; /* Expands to fill available space, with a minimum width of 300px */
  margin: 50px;
  min-width: 300px;
}

.product-description {
  margin-top: 40px;
}

.price {
  font-size: 2rem;
}

.cart-container {
  background-color: white;
  padding:20px;
}
.cart-item {
  display: flex;

  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  

  background-color: white;
}

.cart-image {
  width: 20%;
  max-height: 100px;
  object-fit: contain;
}

.cart-item-name {
  flex: 1;
  width: 50%;
}

.cart-item input {
  width: 50px;
}

.delete-icon {
  cursor: pointer;
  color: red;
  margin-left: auto;
}

.cart-item-price
 {
  width: 10%;
  margin-left:20px;
}
.cart-item-quantity{
  margin-left: 10px;
}

.cart-item-button {
  width: 100px;
  margin-left: 20px;
  margin-top:-3px;
}
